

body { 
	 
	margin: 0 auto !important; 
    float: none !important;
    max-width: 1280px;

}
/* Header */



.header-bar {
    display: flex;
    background-color: rgb(14, 13, 13);
    padding-left: 5%;
    margin-bottom: 5%;
    box-shadow: 0px 10px 5px  rgb(151, 148, 142);

    
}

#home-link {
    margin: auto ;
    font-size: 100px;
    text-decoration: none;
    font-family: cursive;
    color: rgb(252, 247, 247);
    
    
}

.top-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 40px;
    margin-top: 38px;
    margin-left: 30%
    
}



/* Cat on stairs pic */

.cat-on-stairs-pic {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    box-shadow: 0px 10px 5px  rgb(151, 148, 142);
}

/* Links */

.links {
    text-decoration: none;
    color: rgb(252, 247, 247);
}


/* Responsive layout - when the screen is less than 800px wide */
@media screen and (max-width: 800px) {
     body{
        width: 100%;

     }
     .header-bar{
        flex-direction: column;
    
     }
     #home-link{
        font-size: 60px;
     }

     .top-links {
        justify-content: space-around ;
        width: 100%;
        margin: 0;
        margin-top: 5px;
        padding-bottom: 20px;
        font-size: 20px;
     }
    }